[submodule "themes/jeffprod"]
	path = themes/jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
[submodule "site/themes/jeffprod"]
	path = site/themes/jeffprod
	url = https://github.com/Tazeg/hugo-blog-jeffprod.git
